.select2-container--default .select2-selection--single {
    border-radius: 0 !important;
}

.select2-container .select2-selection--single {
    height: 39px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-style: none !important;
}

.select2-search--dropdown .select2-search__field {
    text-align: right !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 20px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 1px !important;
    line-height: 20px !important;
}
