<template>
    <div class="meeting">
        <div class="container-zoom">
            <ZoomFrame v-if="apiKey"
                :nickname="nickname"
                :meetingId="meetingId"
                :password="password"
                :apiKey="apiKey"
                :apiSecret="apiSecret"
            />
        </div>
    </div>
</template>

<script>
import ZoomFrame from "./ZoomFrame.vue";
import axios from "axios";

export default {
    name: "app",
    data: function () {
        return {
            nickname: '',
            hostId: '',
            meetingId: '',
            password: '',
            apiKey: '',
            apiSecret: '',
        }
    },
    components: {
        ZoomFrame,
    },
    created: function () {
        this.nickname = this.$route.query.nickname;
        this.hostId = this.$route.query.hostId;
        this.meetingId = this.$route.query.meetingId;
        this.password = this.$route.query.password;
    },
    mounted() {
        axios.get('/zoom/getRoom/' + this.hostId).then(response => {
            this.apiKey = response.data.data.api_key;
            this.apiSecret = response.data.data.api_secret;
        }).catch(error => {
            alert('Sorry , invalid host id')
        })
    }
};
</script>

<style>
.container-zoom {
    width: 70%;
    height: 100%;
}
</style>
